<ion-app>
  <ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="mb-3 d-flex align-items-center">
      <button class="btn btn-primary col-4" style="font-size:13px; padding: 7px 0px ;margin-left:12px"
        (click)="refreshData()">
        <i class="fa fa-refresh"></i>
        Làm mới
      </button>
      <datepicker-component (filterDate)="filterDate($event)"></datepicker-component>
    </div>
    <div *ngIf="listData && listData.length; else elseBlock" class="position-relative">
      <div class="position-relative"
        *ngFor=" let item of listData | paginate : { itemsPerPage: 10, currentPage: page, totalItems }">
        <ion-card>
          <ion-card-content>
            <div class="d-flex align-items-center mb-3">
              <div class="col-4" style="margin-right: 0px">
                <button type="button" class="btn btn-sm fw-bold w-100" style="font-size:10px"
                  [ngClass]="{'btn-success': item.status == 'ANSWERED', 'btn-danger text-white': item.status == 'NO ANSWER', 'btn-warning': item.status == 'BUSY', 'btn-primary': item.status == 'CONGESTION'}">
                  {{ convertStatus(item.status)}}
                </button>
              </div>
              <div class="col-4">
                <div class="d-flex justify-content-center">
                  <span class=" fw-bold" style="font-size:13px; margin-left: 7px">{{ item.phone }}</span>
                </div>
              </div>
              <div class="col-3">
                <div class="text-end">
                  <span style="font-size:10px; margin-right:4px ;color:#187CC0">File ghi âm</span>
                </div>
              </div>
              <div class="col-2" style="margin-top:3px">
                <a class="circle-button" href={{item.recording}}>
                  <ion-icon class="arrow" name="arrow-forward"></ion-icon>
                </a>
              </div>
            </div>
            <div>
              <div class="row fw-bold">
                <div class="col-4" style="font-size: 9px">Thời lượng</div>
                <div class="col-4" style="font-size: 9px">Thời gian</div>
                <div class="col-4" style="font-size: 9px">Danh sách đen</div>
              </div>
              <div class="row text-10px">
                <div class="col-3  align-center" style="padding: 0px 0px 0px 30px;" title="">
                  {{ item.duration }}s
                </div>
                <div class="col-5 " style="padding: 0px 14px 0px 0px;" title="">
                  {{ convertDateTime(item.calldate) }}
                </div>
                <div class="col-4 " style="padding: 0px 0px 0px 30px;" title="">
                  {{ item.blacklist }}
                </div>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="text-center position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%)">
        <i class="fa-solid fa-users-slash text-sub-content mb-3" style="font-size: 100px"></i>
        <h5 class="text-sub-content">Không có dữ liệu!</h5>
      </div>
    </ng-template>
    <pagination-controls *ngIf="listData && listData.length" previousLabel="" nextLabel=""
      (pageChange)="changePagination($event)"></pagination-controls>
  </ion-content>
  <ion-footer [translucent]="true">
    <ion-toolbar mode="md" class="footer-container">
      <ion-segment [scrollable]="true" color="dark" value="calllogs">
        <ion-segment-button value="utm" routerLink="/utm-statistic" style="border: none;font-size: 10px">
          <ion-label text-wrap class="fw-bold">Thông kê hiệu suất
            marketing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="revenue" routerLink="/statiscal-revenue" style="font-size: 10px;">
          <ion-label class="fw-bold">Thống kê doanh số</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cost" routerLink="/statiscal-cost" style="font-size: 10px;">
          <ion-label class="fw-bold">Thống kê chi phí</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cost" routerLink="/statiscal-money" style="font-size: 10px;">
          <ion-label class="fw-bold">Thống kê dòng tiền</ion-label>
        </ion-segment-button>
        <ion-segment-button value="statistic-performance-sale" routerLink="/statistic-performance-sale"
          style="font-size: 10px;">
          <ion-label class="fw-bold">Thống kê hiệu suất sale</ion-label>
        </ion-segment-button>
        <ion-segment-button value="statistic-order" routerLink="/notF" style="font-size:10px">
          <ion-label class="fw-bold">Thống kê đơn hàng</ion-label>
        </ion-segment-button>
        <ion-segment-button value="statistic-product" routerLink="/notF" style="font-size:10px">
          <ion-label class="fw-bold">Thống kê sản phẩm</ion-label>
        </ion-segment-button>
        <ion-segment-button value="statistic-shipping" routerLink="/notF" style="font-size:10px">
          <ion-label class="fw-bold">Thống kê vận chuyển</ion-label>
        </ion-segment-button>
        <ion-segment-button value="calllogs" routerLink="/calllogs" style="font-size:10px;background: #035287;">
          <ion-label class="fw-bold text-white">Thống kê cuộc gọi</ion-label>
        </ion-segment-button>
        <ion-segment-button value="total-cost" routerLink="/notF" style="font-size:10px">
          <ion-label class="fw-bold">Tài chính tổng hơp</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>
  <div class="dropdown position-absolute" style="bottom: 5rem; right: 1rem;">
    <button id="open-filter" class="btn btn-primary rounded-pill " type="button" (click)="openModalFilter(true)">
      <i class="fa-solid fa-filter"></i>
      Lọc
    </button>
  </div>
  <ion-toast [isOpen]="isToastOpen" [message]="messageToast" [duration]="3000"></ion-toast>
  <ion-modal [isOpen]="isOpenFilterModal" class="modal-filter" (didDismiss)="openModalFilter(false)">
    <ion-header>
      <ion-toolbar class="text-white fw-bold" style="--background: rgba(0, 110, 185, 0.9)!important;">
        <ion-title>
          <i class="fa-solid fa-filter"></i>
          Lọc
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="mb-3">
        <label>
          Số điện thoại:
        </label>
        <input type="text" [(ngModel)]="phone" class="form-control" placeholder="Số điện thoại">
      </div>
      <label>Trạng thái</label>
      <div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="status" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
            value="">
          <label class="form-check-label" for="inlineRadio1">Tất cả</label>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="status" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
            value="ANSWERED">
          <label class="form-check-label" for="inlineRadio1">Trả lời</label>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="status" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
            value="NO ANSWER">
          <label class="form-check-label" for="inlineRadio2">Không trả lời</label>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="status" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
            value="BUSY">
          <label class="form-check-label" for="inlineRadio3">Bận</label>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="status" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
            value="CONGESTION">
          <label class="form-check-label" for="inlineRadio3">Ngoài vùng phỏ sóng</label>
        </div>
      </div>
    </ion-content>
    <ion-footer mode="md" style="background-color: rgba(0, 110, 185, 0.9)!important;">
      <ion-toolbar class="new-toolbar-background">
        <ion-buttons slot="start">
          <ion-button (click)="openModalFilter(false)" style="--color: white!important">Hủy</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="getFilter()" [strong]="true">Lọc</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-modal>
</ion-app>