<ion-app>
  <ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div>
      <div *ngIf="!isBackHeader; else elseBtn" class="d-flex align-items-center justify-content-center">
        <div>
          <button class="btn btn-sm" style="background-color: #46C851;" (click)="addUtm()">
            <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
          </button>
        </div>
        <div class="mx-2">
          <button class="btn btn-primary h-100 text-13px p-6px" (click)="showListDelete()">
            Chọn
          </button>
        </div>
        <div class="col-8 input-group input-group-sm border-primary" style="border-radius: 6px; width: fit-content">
          <span class="input-group-text bg-white" style="border: 0">
            <i class="fa-solid fa-magnifying-glass text-sub-content" style="color: #2c5fb6">
            </i>
          </span>
          <input type="text" class="form-control border-primary border-0 search-control"
            placeholder="Tìm kiếm UTM" [(ngModel)]="name" (keydown.enter)="loadData()">
        </div>
      </div>
      <ng-template #elseBtn>
        <div class="btn-group" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-danger" [disabled]="!selectedItem" (click)="openDeleteModal(true)">
            <i class="fa-solid fa-trash-can" style="color: #ffffff;"></i>
            Xóa
          </button>
        </div>
      </ng-template>
    </div>
    <div *ngIf="listData && listData.length; else elseBlock" class="position-relative">
      <div *ngFor="let item of listData | paginate: { itemsPerPage: 10, currentPage: page, totalItems }"
        class="position-relative">
        <div *ngIf="isBackHeader" class="checkbox-in-card-container form-check" style="top:1.25rem">
          <input class="form-check-input checkbox-in-card" type="checkbox"
            [checked]="selectedItem && selectedItem.id === item.id" (change)="selectItem(item)">
        </div>
        <ion-card [class]="selectedItem && selectedItem.id === item.id ? 'card-active' : ''"
          (click)="isBackHeader ? selectItem(item) : editInfoUtm(item)">
          <ion-card-header style="padding-bottom:7px">
            <ion-card-title class="fw-bold" style=" font-size: 15px; color:#006EB9">{{item.nhanvien}}</ion-card-title>
            <ion-card-subtitle class="fw-bold"
              style=" font-size: 10px; color:#838383;margin-top:0.05rem">{{item.code}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div class="row fw-bold">
              <div class="col-4" style="font-size:10px">Ghi chú</div>
            </div>
            <div class="row">
              <div class="col-12 line-clamp-1" style="font-size: 10px;" title="">{{item.note}}</div>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-alert [isOpen]="isOpenDeleteModal" header="BẠN CÓ THẬT SỰ MUỐN XÓA BẢN GHI NÀY?"
          [buttons]="actionDeleteAccount" (didDismiss)="openDeleteModal(false)"></ion-alert>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="text-center position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <i class="fa-solid fa-box-open text-sub-content mb-3" style="font-size: 100px"></i>
        <h5 class="text-sub-content">Không có dữ liệu!</h5>
      </div>
    </ng-template>
    <ion-toast [isOpen]="isToastOpen" [message]="messageToast" [duration]="3000"
      (didDismiss)="setOpen(false)"></ion-toast>
    <pagination-controls *ngIf="listData && listData.length" previousLabel="" nextLabel=""
      (pageChange)="changePagination($event)"></pagination-controls>
  </ion-content>
  <ion-footer *ngIf="info.role === 'admin'" [translucent]="true">
    <ion-toolbar mode="md" class="footer-container">
      <ion-segment [scrollable]="true" *ngIf="!isBackHeader;else elseFooter" color="dark" value="account">
        <ion-segment-button value="utmmedium" routerLink="/utm-medium" style="font-size:10px;background: #035287">
          <ion-label class="fw-bold text-white">Cấu hình UTM</ion-label>
        </ion-segment-button>
        <ion-segment-button value="kho" routerLink="/kho/quan-ly-kho" style="font-size: 10px" >
          <ion-label class="fw-bold text-white">Cấu hình kho</ion-label>
        </ion-segment-button>
        <ion-segment-button value="list-setting" routerLink="/dashboard" style="font-size:10px">
          <ion-label class="fw-bold">Danh sách cấu hình</ion-label>
        </ion-segment-button>
        <ion-segment-button value="setting-order" routerLink="/order-config" style="font-size:10px">
          <ion-label class="fw-bold">Cấu hình đơn hàng</ion-label>
        </ion-segment-button>
        <ion-segment-button value="setting-cost" routerLink="/notF" style="font-size:10px">
          <ion-label class="fw-bold">Cấu hình chi phí</ion-label>
        </ion-segment-button>
        <ion-segment-button value="setting-permission" routerLink="/notF" style="font-size:10px">
          <ion-label class="fw-bold">Cấu hình phân quyền</ion-label>
        </ion-segment-button>
        <ion-segment-button value="list-product" routerLink="/notF" style="font-size:10px">
          <ion-label class="fw-bold">Danh mục sản phẩm</ion-label>
        </ion-segment-button>
        <ion-segment-button value="unit-shipping" routerLink="/setting-shipping" style="font-size:10px">
          <ion-label class="fw-bold">Đơn vị vận chuyển</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ng-template #elseFooter>
        <ion-title class="text-center text-14px fw-bold">Chọn mục</ion-title>
      </ng-template>
    </ion-toolbar>
  </ion-footer>
</ion-app>