<ion-header>
  <ion-toolbar class="new-toolbar-background">
    <ion-buttons slot="start">
      <button class="bg-content rounded-circle" (click)="cancel()">
        <i class="fa-solid fa-arrow-left" style=" padding: 8px 8px;font-size:20px;margin-right: 6px;color: #2c5fb6"></i>
      </button>
    </ion-buttons>
    <ion-title class="text-14px fw-bold">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveInfo()" [strong]="true">Lưu</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="text-primary mb-3">
    <h5 class="fw-bold">Thông tin chi phí</h5>
    <div class="form-floating mb-3">
      <input type="text" [(ngModel)]="code" class="form-control" id="name" placeholder="Mã chi phí">
      <label for="name" style="top: 3px">
        Mã chi phí
      </label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" [(ngModel)]="name" class="form-control" id="name" placeholder="Tên loại chi phí">
      <label for="name" style="top: 3px">
        Tên loại chi phí
      </label>
    </div>
    <div class="form-floating mb-3">
      <select [(ngModel)]="priod" class="form-select" id="floatingSelect">
        <option value=""></option>
        <option [value]="1">Tháng</option>
        <option [value]="2">Ngày</option>
        <option [value]="3">Năm</option>
      </select>
      <label for="floatingSelect">Theo thời gian</label>
    </div>
    <div class="form-floating mb-3">
      <select [(ngModel)]="isCountOrder" class="form-select" id="floatingSelect">
        <option value=""></option>
        <option [value]="0">Không</option>
        <option [value]="1">Có</option>
      </select>
      <label for="floatingSelect">Chi phí theo số lượng đơn hàng</label>
    </div>
    <div class="form-floating mb-3">
      <select [(ngModel)]="status" class="form-select" id="floatingSelect">
        <option value=""></option>
        <option [value]="1">Kích hoạt</option>
        <option [value]="0">Khóa</option>
      </select>
      <label for="floatingSelect">Trạng thái</label>
    </div>
  </div>
  <ion-toast [isOpen]="isToastOpen" [message]="messageToast" [duration]="3000"
    (didDismiss)="setOpen(false)"></ion-toast>
</ion-content>