<ion-modal [isOpen]="isModalOpen" class="modal-50" (didDismiss)="setOpen(false)">
  <ng-template>
    <ion-header>
      <ion-toolbar mode="md" class="new-toolbar-background">
        <ion-title class="fw-bold">Thông tin phiếu hàng lỗi</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="mb-3 form-group">
        <label class="text-primary">Loại phiếu<span class="text-danger">*</span> </label>
        <select [(ngModel)]="FtType" class="form-select" [disabled]="status != 0" (change)="changeLoaiPhieu($event)">
          <option value=""></option>
          <option *ngFor="let item of loaiPhieu" [value]="item.value">{{item.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="text-primary">Thời gian tạo</label>
        <input type="date" [(ngModel)]="createAt" [disabled]="data" class="form-control" placeholder="thời gian tạo">
      </div>
      <div class="mb-3">
        <label class="text-primary">Nhập/xuất kho lúc</label>
        <input type="date" [(ngModel)]="estimatedReturnDateInfo" [disabled]="status!=0" (blur)="onInputDateBlur()"
          class="form-control" placeholder="Ngày về dự kiến">
      </div>
      <div class="mb-3">
        <label class="text-primary">Ghi chú</label>
        <input type="text" [(ngModel)]="note" class="form-control" [disabled]="status!=0" placeholder="Ghi chú">
      </div>
      <div class="text-end">
        <button class="btn btn-sm btn-primary fw-bold px-3" (click)="saveInfo()">Thêm</button>
      </div>
    </ion-content>
    <ion-toast [isOpen]="isToastOpen" [message]="messageToast" [duration]="3000"
      (didDismiss)="setOpen(false)"></ion-toast>
  </ng-template>
</ion-modal>