<ion-app>
  <div class="vh-100 p-3">
    <div class="mb-5 w-100 row">
      <img class="col-2" src="assets/img/logo-header.png" alt="header">
      <div class="dropdown col-10 d-flex justify-content-end px-0">
        <div class="dropdown-toggle d-flex align-items-center py-1 px-2 rounded-pill" style="background-color: #2C5FB6;"
          type="button" id="langue-sub" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="text-uppercase text-white" style="margin-right: 6px;">{{ language }}</div>
          <img *ngIf="language === 'vi'" src="assets/img/vietnam-lang.png" class="img-lang ml-2 mr-2 rounded-circle"
            width="20" height="20">
          <img *ngIf="language === 'en'" src="assets/img/english_flag.png" class="img-lang ml-2 mr-2 rounded-circle"
            width="20" height="20">
        </div>
        <ul class="dropdown-menu" aria-labelledby="langue-sub">
          <li (click)="changeLanguage('vi')">
            <a class="dropdown-item"><img style="width: 30px;" class="mr-3" src="assets/img/vietnam-lang.png">
              Tiếng Việt
            </a>
          </li>
          <li (click)="changeLanguage('en')">
            <a class="dropdown-item">
              <img style="width: 30px;" class="mr-3" src="assets/img/english_flag.png">
              Tiếng Anh
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="container h-100">
      <div class="h-100">
        <div class="text-center mb-5">
          <img src="assets/img/logo.png" class="img-fluid" alt="image" style="width: 65%">
        </div>
        <div>
          <form id="formLogin" #formLogin="ngForm" (ngSubmit)="login()">
            <!-- User input -->
            <div class="input-group mb-4" [ngClass]="isValidUsername ? 'border-danger' : 'border-primary'">
              <span class="input-group-text bg-white" id="basic-addon1" style="border: 0">
                <i class="fa-solid fa-user" style="color: #2c5fb6"></i>
              </span>
              <input type="text" name="username" [(ngModel)]="username" placeholder=" Tên tài khoản"
                class="form-control form-control-lg border border-primary" style="height:2.5rem ;border: 0!important;"
                [autocomplete]="false">
            </div>

            <!-- Password input -->
            <div class="input-group mb-2 border-primary"
              [ngClass]="isValidPassword ? 'border-danger' : 'border-primary'">
              <span class="input-group-text bg-white" id="basic-addon1" style="border: 0">
                <i class="fa-solid fa-lock" style="color: #2c5fb6"></i>
              </span>
              <input [type]="isShowPassword ? 'text' : 'password'" name="password" [(ngModel)]="password"
                placeholder=" Mật khẩu" class="form-control form-control-lg border border-primary"
                style="height:2.5rem ;border: 0!important;" [autocomplete]="false">
              <div class="position-absolute" style="right:1rem; top: 30%" (click)="showPassword()">
                <i *ngIf="isShowPassword" class="fa-solid fa-eye-slash" style="color: #a89a00;"></i>
                <i *ngIf="!isShowPassword" class="fa-solid fa-eye" style="color: #a89a00;"></i>
              </div>
            </div>
            <div class="text-underline fw-bold text-center mb-4 cursor-pointer link-underline-primary"
              style="color: #2c5fb6" (click)="forgotPassword()">
              Không đăng nhập được?
            </div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-lg btn-block w-100 rounded-pill fw-bold py-3" id="submit">
              Đăng nhập
            </button>
            <ion-toast [isOpen]="isToastOpen" [message]="messageToast" [duration]="3000"
              (didDismiss)="setOpen(false)"></ion-toast>
          </form>
        </div>
      </div>
    </div>
  </div>
</ion-app>