<ion-modal [isOpen]="isModalOpen" class="modal-50" (didDismiss)="setOpen(false)">
  <ng-template>
    <ion-header>
      <ion-toolbar mode="md" class="new-toolbar-background">
        <ion-title class="fw-bold">Thông tin sản phẩm</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="mb-3 form-group">
        <label class="text-primary">Kho chứa hàng<span class="text-danger">*</span> </label>
        <select [(ngModel)]="khoId" class="form-select" (change)="changeKho($event)" [disabled]="khoId ? true : false">
          <option value=""></option>
          <option *ngFor="let item of listKho" [value]="item.id">
            {{item.name}}
          </option>
        </select>
      </div>
      <div class="mb-3">
        <label class="text-primary">Nhà cung cấp</label>
        <input type="text" [(ngModel)]="nhaCungCap" class="form-control" placeholder="" [disabled]="status !=0">
      </div>
      <div class="mb-3 form-group">
        <label class="text-primary">Mã sản phẩm<span class="text-danger">*</span></label>
        <ng-select [multiple]="false" [(ngModel)]="product" class="pb-0 text-12px" (change)="getSanPhamCT($event)"
          [disabled]="status !=0">
          <ng-option *ngFor="let obj of listSanPham" [value]="obj" class="text-12px">
            {{obj.code}}
          </ng-option>
        </ng-select>
      </div>
      <div class="mb-3 form-group">
        <label class="text-primary">Mẫu mã<span class="text-danger">*</span> </label>
        <ng-select [multiple]="false" [(ngModel)]="subProductCode" class="pb-0 text-12px" [disabled]="status !=0">
          <ng-option *ngFor="let obj of listSanPhamCT" [value]="obj" class="text-12px">
            {{obj.ten}}
          </ng-option>
        </ng-select>
      </div>
      <div class="mb-3">
        <label class="text-primary">Giá nhập</label>
        <input type="text" [(ngModel)]="price" class="form-control" placeholder="" [disabled]="status !=0">
      </div>
      <div class="mb-3">
        <label class="text-primary">Số lượng</label>
        <input type="text" [(ngModel)]="totalQuantity" class="form-control" placeholder="" [disabled]="status !=0">
      </div>
      <div class="text-end">
        <button class="btn btn-sm btn-primary fw-bold px-3" (click)="saveInfo()">Lưu</button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>