/* custom input */
input::placeholder {
  color: #2c5fb6 !important;
}
.form-control {
  border: 1px solid #3f8acd !important;
  border-radius: 6px !important;
}
.form-control:focus {
  border: none !important;
  outline: none !important;
}
.input-group {
  border: 1px solid #dee2e6 !important;
  border-radius: 6px;
}
// pointer
.cursor-pointer {
  cursor: pointer;
}
/* custom button */
.btn {
  border-radius: 6px !important;
}

/* line clamp */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* ionic custom */
.new-toolbar-background {
  --background: rgba(0, 110, 185, 0.9) !important;
  --color: white;
}
