body {
  color: #2c2c2c;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* custom input */
input::placeholder {
  color: #2c5fb6 !important;
}
.form-control,
.form-select {
  border: 1px solid #3f8acd !important;
  border-radius: 6px !important;
}

.form-control:focus {
  border: none !important;
  outline: none !important;
}
.input-group {
  border: 1px solid #dee2e6 !important;
  border-radius: 6px;
}
.arrow-input {
  position: absolute;
  top: 35%;
  right: 1rem;
}
/* -------------Custom checkbox------------ */
.checkbox-in-card {
  width: 17px !important;
  height: 17px !important;
  box-shadow: 2px 2px 5px 0px #919191bf;
}
.checkbox-in-card-container {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  z-index: 10;
}
/* ------------------------- */

// pointer
.cursor-pointer {
  cursor: pointer;
}
/* custom button */
.btn {
  border-radius: 6px !important;
}
.btn-green {
  background-color: #46c851 !important;
  color: #fff !important;
}
.btn-blue {
  background-color: #006eb9 !important;
  color: #fff !important;
}
.btn-yellow {
  background-color: #c8b216 !important;
  color: #fff !important;
}
.btn-orange {
  background-color: #c8b216 !important;
  color: #fff !important;
}
.btn-gray {
  background-color: gray !important;
  color: #fff !important;
}
/* line clamp */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

/* ionic custom */
.new-toolbar-background {
  --background: rgba(0, 110, 185, 0.9) !important;
  --color: white;
}

/* footer */
.footer-container {
  --background: #006eb9;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
  --color: white;
  --font-weight: 600;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

/* -------------Card------------ */
ion-app {
  background-color: #ecf7ff !important;
}
ion-header {
  background-color: rgba(0, 110, 185, 0.9) !important;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
ion-card {
  --background: #fff;
  color: #000000;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}
ion-content::part(background) {
  background: #ecf7ff !important;
}
.card-selected {
  --background: #919191 !important;
}
.card-active {
  background: #3dc2ff !important;
}
/* ------------------------- */
/*----------Sheet------------*/
.action-sheet-title {
  color: black !important;
  font-weight: 600;
}
.action-sheet-confirm {
  color: #cf3c4f !important;
}
.action-sheet-cancel {
  color: #006eb9 !important;
}
/*----------Sheet------------*/

/*---------Modal-------------*/
.modal-md {
  --width: 90% !important;
  --min-width: 250px !important;
  --height: 40% !important;
  --border-radius: 6px !important;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4) !important;
}
.modal-80 {
  --width: 90% !important;
  --min-width: 250px !important;
  --height: 80% !important;
  --border-radius: 6px !important;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4) !important;
}
.modal-50 {
  --width: 90% !important;
  --min-width: 250px !important;
  --height: 50% !important;
  --border-radius: 6px !important;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4) !important;
}
.modal-filter {
  --width: 65% !important;
  --min-width: 250px !important;
  --height: 60% !important;
  --border-radius: 6px !important;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4) !important;
}
.modal-filter-lg {
  --width: 90% !important;
  --min-width: 250px !important;
  --height: 60% !important;
  --border-radius: 6px !important;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4) !important;
}
.modal-filter-date-picker {
  --width: 90% !important;
  --min-width: 250px !important;
  --height: 60% !important;
  --border-radius: 6px !important;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4) !important;
}

/* Ngx Pagination */
.ngx-pagination {
  padding: 0 !important;
  li {
    border-radius: 6px !important;
  }
}

/*---------NG Select----------*/
.form-group {
  .ng-select .ng-select-container {
    min-height: 40px;
    border: 1px solid #006eb9;
  }
  .form-control {
    border-radius: 5px;
    border: 1px solid #006eb9;
  }
  i {
    width: 10px;
  }
  .ng-value-label {
    position: absolute;
    top: 0;
    left: 12px;
  }
}
.custom-label {
  .ng-value-label {
    top: 10px !important;
  }
}

/*--------Ionic search bar----------*/
.search-bar {
  --border-radius: 6px !important;
  --border: 1px solid #3f8acd !important;
  --color: #000000 !important;
}
.searchbar-input-container {
  border: 1px solid #3f8acd !important;
  border-radius: 6px !important;
}

/*--------CSS Custom----------*/
.dot-green {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgba(71, 172, 79, 0.6);
}
