/* custom input */
input::placeholder {
  color: #2c5fb6 !important;
}
.form-control {
  border: 1px solid #3f8acd !important;
  border-radius: 3px !important;
}
.form-control:focus {
  border: none !important;
  outline: none !important;
}
.input-group {
  border: 1px solid #dee2e6 !important;
}
// pointer
.cursor-pointer {
  cursor: pointer;
}
