$new-primary: #2c5fb6;
// button
.btn-primary {
  background-color: $new-primary !important;
}
// text
.text-primary {
  color: $new-primary !important;
}

// background
.bg-primary {
  background-color: $new-primary !important;
}
