<ion-modal [isOpen]="isModalOpen" class="modal-50" (didDismiss)="setOpen(false)">
  <ng-template>
    <ion-header>
      <ion-toolbar mode="md" class="new-toolbar-background">
        <ion-title class="fw-bold">Thông tin phiếu nhập hàng</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="mb-3">
        <label class="text-primary">Thời gian tạo</label>
        <input type="text" [(ngModel)]="createAt" class="form-control" placeholder="thời gian tạo">
      </div>
      <div class="mb-3">
        <label class="text-primary">Ngày về  dự kiến</label>
        <input type="text" [(ngModel)]="estimatedReturnDate" class="form-control" placeholder="Ngày về  dự kiến">
      </div>
      <div class="mb-3">
        <label class="text-primary">Phí vận chuyển</label>
        <input type="text" [(ngModel)]="tranportFee" class="form-control" placeholder="Phí vận chuyển">
      </div>
      <div class="mb-3">
        <label class="text-primary">Chiết khấu</label>
        <input type="text" [(ngModel)]="discount" class="form-control" placeholder="Chiết khấu">
      </div>
      <div class="mb-3">
        <label class="text-primary">Ghi chú</label>
        <input type="text" [(ngModel)]="note" class="form-control" placeholder="Ghi chú">
      </div>
      <div class="text-end">
        <button class="btn btn-sm btn-primary fw-bold px-3" (click)="saveInfo()">Lưu</button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>