<ion-app>
  <ion-refresher slot="fixed" (ionRefresh)="loadData()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-content class="ion-padding">
    <div>
      <div *ngIf="!isBackHeader; else elseBtn" class="row justify-content-center">
        <button class="btn col-1" style="background-color: #46C851;" (click)="addCostRecord()">
          <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
        </button>
        <button class="btn btn-success mx-2 h-100 col-3" (click)="showListDelete()">
          Chọn
        </button>
        <datepicker-component (filterDate)="filterDate($event)" class="col-7"></datepicker-component>
      </div>
      <ng-template #elseBtn>
        <button type="button" class="btn btn-danger" [disabled]="!selectedItem" (click)="openDeleteModal(true)">
          <i class="fa-solid fa-trash-can" style="color: #ffffff;"></i>
          Xóa
        </button>
      </ng-template>
    </div>
    <div class="position-relative">
      <div class="position-relative">
        <div *ngIf="isBackHeader" class="checkbox-in-card-container form-check">
          <input class="form-check-input checkbox-in-card" type="checkbox">
        </div>
        <ion-card>
          <ion-card-content>
            <div class="row mb-3 text-primary">
              <div class="col-5">
                <button class="btn btn-success fw-bold w-100" style="font-size: 12px;">Chi phí marketing</button>
              </div>
              <div class="col-7">
                <small>
                  Tên bản ghi
                </small>
                <div class="fw-bold">
                  AAA
                </div>
              </div>
            </div>
            <div class="position-relative row" style="font-size: 12px;">
              <div class="col-4">
                <div class="mb-3">
                  <div class="fw-bold">
                    Từ ngày
                  </div>
                  <p>10/04/2023</p>
                </div>
                <div>
                  <div class="fw-bold">
                    Số đơn
                  </div>
                  <p>200</p>
                </div>
              </div>
              <div class="col-5">
                <div class="mb-3">
                  <div class="fw-bold">
                    Đến ngày
                  </div>
                  <p>10/04/2023</p>
                </div>
                <div>
                  <div class="fw-bold">
                    Chi phí theo ngày
                  </div>
                  <p>200</p>
                </div>
              </div>
              <div style="position: absolute;top: 15%;left: 25%;">
                <i class="fa-solid fa-arrow-right"></i>
              </div>
              <div class="text-warning position-absolute" style="right: 0; width: fit-content;bottom: 1.5rem">
                <div>
                  Tổng chi phí
                </div>
                <button class="btn btn-warning text-white fw-bold">239.915đ</button>
              </div>
              <small class="position-absolute" style="right: 0; bottom: 0;width: fit-content; ">
                10/04/2023
              </small>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <!-- <ng-template #elseBlock>
      <div class="text-center position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <i class="fa-solid fa-not-equal text-sub-content mb-3" style="font-size: 100px"></i>
        <h5 class="text-sub-content">Không có dữ liệu!</h5>
      </div>
    </ng-template> -->
  </ion-content>
  <ion-footer [translucent]="true">
    <ion-toolbar class="footer-container">
      <ion-segment color="dark" value="cost">
        <ion-segment-button value="costType" routerLink="/cost-type" style="font-size: 10px;">
          <ion-label class="fw-bold">Loại chi phí</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cost" routerLink="/cost" style="font-size: 10px;">
          <ion-label class="fw-bold text-white">Bản ghi chi phí</ion-label>
        </ion-segment-button>
        <ion-segment-button value="costmkt" routerLink="/cost-marketing" style="font-size: 10px;">
          <ion-label class="fw-bold text-white">Chi phí marketing</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>
  <div class="dropdown position-absolute" style="bottom: 4rem; right: 1rem;">
    <button id="open-filter" class="btn btn-primary rounded-pill " type="button" (click)="openModalFilter(true)">
      <i class="fa-solid fa-filter"></i>
      Lọc
    </button>
  </div>
</ion-app>