<ion-app>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-content class="ion-padding">
    <div class="d-flex w-100 justify-content-between align-items-center mb-3">
      <div class="d-flex w-100">
        <div class="w-40">
          <select [(ngModel)]="typeShow" class="form-control form-control-sm select-custom" (change)="statistic()">
            <option value=1>Trong tháng</option>
            <option value=2>Trong năm</option>
            <option value=3>Các năm</option>
          </select>
        </div>
        <div class="w-30 mx-1">
          <select *ngIf="typeShow == 1" [(ngModel)]="month" class="form-control form-control-sm select-custom"
            (change)="statistic()">
            <option value=1>Tháng 1</option>
            <option value=2>Tháng 2</option>
            <option value=3>Tháng 3</option>
            <option value=4>Tháng 4</option>
            <option value=5>Tháng 5</option>
            <option value=6>Tháng 6</option>
            <option value=7>Tháng 7</option>
            <option value=8>Tháng 8</option>
            <option value=9>Tháng 9</option>
            <option value=10>Tháng 10</option>
            <option value=11>Tháng 11</option>
            <option value=12>Tháng 12</option>
          </select>
          <input *ngIf="typeShow == 2" type="text" class="form-control form-control-sm" [(ngModel)]="year"
            placeholder="Năm" (change)="statistic()">
        </div>
      </div>
    </div>
    <div *ngIf="info.role!='admin'" class="w-30">
      <select [(ngModel)]="shopCode" class="form-control select-custom pl-3 " (change)="statistic()">
        <option *ngFor="let obj of shopList" [value]="obj.code">{{obj.code}}</option>
      </select>
    </div>
    <div class="w-50">
      <a class="btn btn-sm btn-success m-0 text-10px" data-toggle="collapse" role="button" aria-expanded="false"
        aria-controls="chart" routerLink="/cost">
        <i class="fa fa-mail-forward mr-1"></i> Bản ghi chi phí</a>
    </div>

    <ion-card class="mx-0">
      <ion-card-content>
        <div>
          <div class="row mb-2">
            <div class="col-4" style="padding-right: 0;">
              <div class="text-12px border border-primary p-1" style="border-radius: 5px;"
                [class]="listCheck[0] ? 'select-count text-white' : 'text-primary'" (click)="onChangeCheck(0)">
                <div class="text-9px">
                  Tổng chi phí
                </div>
                <div class="fw-bold text-nowrap overflow-x-auto">
                  {{plugins.formatNumber(tongChiPhi)}}đ
                </div>
              </div>
            </div>
            <div class="col-4" style="padding-right: 0;">
              <div class="text-12px border border-primary p-1" style="border-radius: 5px;"
                [class]="listCheck[1] ? 'select-count text-white' : 'text-primary'" (click)="onChangeCheck(1)">
                <div class="text-9px">
                  Chi phí marketing
                </div>
                <div class="fw-bold text-nowrap overflow-x-auto">
                  {{plugins.formatNumber(chiPhiMKT)}}đ
                </div>
              </div>
            </div>
            <div class="col-4" style="padding-right: 0;">
              <div class="text-12px border border-primary p-1" style="border-radius: 5px;"
                [class]="listCheck[2] ? 'select-count text-white' : 'text-primary'" (click)="onChangeCheck(2)">
                <div class="text-9px">
                  Chi phí vận hành
                </div>
                <div class="fw-bold text-nowrap overflow-x-auto">
                  {{plugins.formatNumber(chiPhiVanHanh)}}đ
                </div>
              </div>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-4" style="padding-right: 0;">
              <div class="text-12px border border-primary p-1" style="border-radius: 5px;"
                [class]="listCheck[3] ? 'select-count text-white' : 'text-primary'" (click)="onChangeCheck(3)">
                <div class="text-9px">
                  Chi phí vận chuyển
                </div>
                <div class="fw-bold text-nowrap overflow-x-auto">
                  {{plugins.formatNumber(chiPhiVanChuyen)}}đ
                </div>
              </div>
            </div>
            <div class="col-4" style="padding-right: 0;">
              <div class="text-12px border border-primary p-1" style="border-radius: 5px;"
                [class]="listCheck[4] ? 'select-count text-white' : 'text-primary'" (click)="onChangeCheck(4)">
                <div class="text-9px">
                  Chi phí khác
                </div>
                <div class="fw-bold text-nowrap overflow-x-auto">
                  {{plugins.formatNumber(chiPhiKhac)}}đ
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="chart"></div>
      </ion-card-content>
    </ion-card>
    <ng-template #elseDiv>
      <div class="text-center position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <i class="fa-solid fa-chart-pie text-sub-content mb-3" style="font-size: 100px"></i>
        <h5 class="text-sub-content">Không có dữ liệu!</h5>
      </div>
    </ng-template>
    <ion-toast [isOpen]="isToastOpen" [message]="messageToast" [duration]="3000"
      (didDismiss)="setOpen(false)"></ion-toast>
  </ion-content>
  <ion-footer [translucent]="true" *ngIf="info.role ==='admin'">
    <ion-toolbar mode="md" class="footer-container">
      <ion-segment [scrollable]="true" color="dark" value="cost">
        <ion-segment-button value="utm" routerLink="/utm-statistic" style="border: none;font-size: 10px">
          <ion-label text-wrap class="fw-bold">Thông kê hiệu suất
            marketing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="revenue" routerLink="/statiscal-revenue" style="font-size: 10px;">
          <ion-label class="fw-bold">Thống kê dòng tiền</ion-label>
        </ion-segment-button>
        <ion-segment-button value="genaral" routerLink="/statistics-genaral" style="font-size: 10px">
          <ion-label class="fw-bold ">Thống kê doanh số</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cost" routerLink="/statiscal-cost" style="font-size: 10px;background: #035287;">
          <ion-label class="fw-bold text-white">Thống kê chi phí</ion-label>
        </ion-segment-button>
        <ion-segment-button value="statistic-performance-sale" routerLink="/statistic-performance-sale"
          style="font-size: 10px;">
          <ion-label class="fw-bold">Thống kê hiệu suất sale</ion-label>
        </ion-segment-button>
        <ion-segment-button value="statistic-order" routerLink="/notF" style="font-size:10px">
          <ion-label class="fw-bold">Thống kê đơn hàng</ion-label>
        </ion-segment-button>
        <ion-segment-button value="statistic-product" routerLink="/notF" style="font-size:10px">
          <ion-label class="fw-bold">Thống kê sản phẩm</ion-label>
        </ion-segment-button>
        <ion-segment-button value="statistic-shipping" routerLink="/notF" style="font-size:10px">
          <ion-label class="fw-bold">Thống kê vận chuyển</ion-label>
        </ion-segment-button>
        <ion-segment-button value="calllogs" routerLink="/calllogs" style="font-size:10px">
          <ion-label class="fw-bold">Thống kê cuộc gọi</ion-label>
        </ion-segment-button>
        <ion-segment-button value="total-cost" routerLink="/notF" style="font-size:10px">
          <ion-label class="fw-bold">Tài chính tổng hơp</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>
</ion-app>