.div-count {
  color: #006eb9;
  border: 1px solid #006eb9;
  border-radius: 5px;
  padding: 0 50px 0 10px;
  cursor: pointer;
}
.select-count {
  color: #fff;
  background: #006eb9;
  label {
    color: #fff;
  }
}
