<ion-card class="mb-3 mx-0">
  <ion-card-content>
    <div class="d-flex align-items-center justify-content-between mb-3">
      <div class="d-flex align-items-center">
        <div class="dot-green" style="margin-right: 6px;"></div>
        <div class="fw-bold text-16px">
          Thông tin sản phẩm
        </div>
      </div>
      <div class="text-primary">
        <i class="fa fa-pen" (click)="setOpen(true)"></i>
      </div>
    </div>
    <div class="text-12px text-secondary">
      <div class="mb-1">
        Tên sản phẩm: <span class="fw-bold">Apple Watch</span>
      </div>
      <div class="mb-1">
        Mã sản phẩm: <span class="fw-bold">Apple Watch</span>
      </div>
      <div class="mb-1">
        Kho thao tác: <span class="fw-bold">Apple Watch</span>
      </div>
      <div class="mb-3">
        Danh mục: <span class="fw-bold">Apple Watch</span>
      </div>
      <div class="mb-3 border border-primary rounded p-1" style="width: 70px; height: 70px;">
        <img alt="avatar product" src="../../../assets/icon/box.png" />
      </div>
      <div class="mb-1">
        Ghi chú: <span>Apple Watch</span>
      </div>
    </div>
  </ion-card-content>
</ion-card>