/*----------Sheet------------*/
.action-sheet-title {
  color: black !important;
  font-weight: 600;
}
.action-sheet-confirm {
  color: #cf3c4f !important;
}
.action-sheet-group-cancel {
  color: #006eb9 !important;
}
/*----------Sheet------------*/
