<div class="vh-100 overflow-hidden p-3">
  <div class="mb-5">
    <img src="assets/img/logo-header.png" alt="header">
  </div>
  <div class="container h-100">
    <div class="h-100">
      <div class="text-center mb-5">
        <img src="assets/img/logo.png" class="img-fluid" alt="image" style="width: 65%">
      </div>
      <div>
        <form id="formLogin" #formLogin="ngForm" (ngSubmit)="login()">
          <!-- User input -->
          <div class="form-group form-outline mb-4">
            <input type="text" name="username" [(ngModel)]="username" placeholder=" Tên tài khoản"
              class="form-control form-control-lg" style="height:2.5rem ;">
          </div>

          <!-- Password input -->
          <div class="form-group form-outline mb-4">
            <input type="password" name="password" [(ngModel)]="password" placeholder=" Mật khẩu"
              class="form-control form-control-lg" style="height:2.5rem ;">
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block w-100" id="submit">Đăng nhập</button>

        </form>

      </div>
    </div>
  </div>
</div>