<div class="vh-100 overflow-hidden p-3">
  <div class="mb-5 w-100 row">
    <img class="col-2" src="assets/img/logo-header.png" alt="header">
    <div class="dropdown col-10 d-flex justify-content-end px-0">
      <div class="dropdown-toggle d-flex align-items-center px-3 rounded-pill" style="background-color: #2C5FB6;"
        type="button" id="langue-sub" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="text-uppercase text-white" style="margin-right: 6px;">{{ language }}</div>
        <img *ngIf="language === 'vi'" src="assets/img/vietnam-lang.png" class="img-lang ml-2 mr-2 rounded-circle"
          width="30" height="30">
        <img *ngIf="language === 'en'" src="assets/img/english_flag.png" class="img-lang ml-2 mr-2 rounded-circle"
          width="30" height="30">
      </div>
      <ul class="dropdown-menu" aria-labelledby="langue-sub">
        <li (click)="changeLanguage('vi')">
          <a class="dropdown-item"><img style="width: 30px;" class="mr-3" src="assets/img/vietnam-lang.png">
            Tiếng Việt
          </a>
        </li>
        <li (click)="changeLanguage('en')">
          <a class="dropdown-item">
            <img style="width: 30px;" class="mr-3" src="assets/img/english_flag.png">
            Tiếng Anh
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container h-100">
    <div class="h-100">
      <div class="text-center mb-5">
        <img src="assets/img/logo.png" class="img-fluid" alt="image" style="width: 65%">
      </div>
      <div>
        <form id="formLogin" #formLogin="ngForm" (ngSubmit)="login()">
          <!-- User input -->
          <div class="form-group form-outline mb-4">
            <input type="text" name="username" [(ngModel)]="username" placeholder=" Tên tài khoản"
              class="form-control form-control-lg border border-primary" style="height:2.5rem ;">
          </div>

          <!-- Password input -->
          <div class="form-group form-outline mb-2">
            <input type="password" name="password" [(ngModel)]="password" placeholder=" Mật khẩu"
              class="form-control form-control-lg border border-primary" style="height:2.5rem ;">
          </div>
          <div class="text-underline fw-bold text-center text-primary mb-4 cursor-pointer link-underline-primary">
            Không đăng nhập được?
          </div>
          <!-- Submit button -->
          <button type="submit" class="btn btn-primary btn-lg btn-block w-100 rounded-pill fw-bold py-3" id="submit">
            Đăng nhập
          </button>
        </form>

      </div>
    </div>
  </div>
</div>