<ion-app>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-content class="ion-padding">
    <div class="mb-1 row mb-2">
      <div class="col-12 mb-2">
        <button class="btn btn-blue text-13px fw-bold" style="margin-right: 6px;" [disabled]="disableAssignButton"
          (click)="handleAssginWork()">Giao
          việc ({{listCheck.length || 0}})</button>
        <button *ngIf="isAdmin" class="btn btn-yellow text-13px fw-bold" style="margin-right: 6px;"
          (click)="handleFastAssginWork()">Giao
          việc nhanh</button>
      </div>
      <div class="col-12">
        <button class="btn btn-blue text-13px fw-bold" style="margin-right: 6px;" (click)="handleAction()"
          [disabled]="listCheck && !listCheck.length">Thao
          tác ({{listCheck.length || 0}})</button>
        <button *ngIf="!isBackHeader" class="btn btn-success text-13px fw-bold" (click)="handleSelect()">Chọn</button>
      </div>
    </div>
    <div class="mb-3 d-flex align-items-center">
      <button class="btn btn-primary col-4 text-13px" (click)="refreshData()">
        <i class="fa fa-refresh"></i>
        Làm mới
      </button>
      <datepicker-component [dateRange]="dateRange" (filterDate)="filterDate($event)"></datepicker-component>
    </div>
    <div>
      <div class="position-relative" *ngIf="listData && listData.length; else elseData">
        <div class="position-relative"
          *ngFor="let item of listData | paginate: { itemsPerPage: 10, currentPage: page, totalItems }">
          <div *ngIf="isBackHeader" class="position-absolute form-check"
            style="bottom: 0.5rem!important; right:0.5rem; z-index: 10">
            <input class="form-check-input checkbox-in-card" type="checkbox" (change)="handleSelectItem(item)"
              [checked]="listCheck && listCheck.includes(item)">
          </div>
          <ion-card [class]="listCheck && listCheck.includes(item) ? 'card-active' : ''" class="mx-0"
            (click)="!isBackHeader ? handleViewInfoOrder(item) : handleSelectItem(item)">
            <ion-card-content>
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="fw-bold" [class]="listCheck && listCheck.includes(item) ? 'text-white' : 'text-dark'">
                  {{item.name}}</h5>
                <div class="fw-bold text-warning">
                  {{ isHideRevenue(item.status) ? '' : plugins.formatNumber(item.price)}}{{isHideRevenue(item.status) ?
                  '' : 'đ'}}
                </div>
              </div>
              <p class="text-10px" [class]="listCheck && listCheck.includes(item) ? 'text-white' : 'text-primary'">
                {{item.date}}</p>
              <p class="text-primary text-10px text-secondary mb-2">
                <span class="fw-bold">Số điện thoại:</span> {{item.phone}}
              </p>
              <button *ngIf="item.status === 0" class="btn btn-sm btn-primary text-13px fw-bold">Mới</button>
              <button *ngIf="item.status === 1" class="btn btn-sm btn-blue text-13px fw-bold">Đã tiếp nhận</button>
              <button *ngIf="item.status === 2" class="btn btn-sm btn-orange text-13px fw-bold">Đang xử lý</button>
              <button *ngIf="item.status === 3" class="btn btn-sm btn-warning text-white text-13px fw-bold">KNM
                L1</button>
              <button *ngIf="item.status === 4" class="btn btn-sm btn-warning text-white text-13px fw-bold">KNM
                L2</button>
              <button *ngIf="item.status === 5" class="btn btn-sm btn-warning text-white text-13px fw-bold">KNM
                L3</button>
              <button *ngIf="item.status === 6" class="btn btn-sm btn-danger text-13px fw-bold">Thất bại</button>
              <button *ngIf="item.status === 9" class="btn btn-sm btn-gray text-13px fw-bold">Trùng</button>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <ng-template #elseData>
        <div class="text-center position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
          <i class="fa-solid fa-boxes text-sub-content mb-3" style="font-size: 100px"></i>
          <h5 class="text-sub-content">Không có dữ liệu!</h5>
        </div>
      </ng-template>
    </div>
    <pagination-controls *ngIf="listData && listData.length" previousLabel="" nextLabel=""
      (pageChange)="changePagination($event)"></pagination-controls>
  </ion-content>
  <ion-footer [translucent]="true">
    <ion-toolbar mode="md" class="footer-container">
      <ion-segment *ngIf="!isBackHeader;else elseFooter" class="w-100" color="dark" value="order">
        <ion-segment-button value="utm" routerLink="/data"
          style="border: none;font-size: 10px; width: 33.33%;  background: #035287;">
          <ion-label text-wrap class="fw-bold text-white">Order</ion-label>
        </ion-segment-button>
        <ion-segment-button value="data" routerLink="/data-after-order" style="font-size: 10px;width: 33.33%;">
          <ion-label text-wrap class="fw-bold">Đơn hàng</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cost" routerLink="/notF" style="width: 33.33%;font-size: 10px;">
          <ion-label text-wrap class="fw-bold">Danh sách hàng hoàn</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ng-template #elseFooter>
        <ion-title class="text-center text-14px fw-bold">Chọn mục</ion-title>
      </ng-template>
    </ion-toolbar>
  </ion-footer>
  <div class="dropdown position-absolute" style="bottom: 4rem; right: 1rem;">
    <button id="open-filter" class="btn btn-primary rounded-pill shadow" type="button" (click)="openModalFilter(true)">
      <i class="fa-solid fa-filter"></i>
      Lọc
    </button>
  </div>
  <ion-modal [isOpen]="isOpenFilterModal" class="modal-filter-lg" (didDismiss)="openModalFilter(false)">
    <ion-header>
      <ion-toolbar class="text-white fw-bold" style="--background: rgba(0, 110, 185, 0.9)!important;">
        <ion-title>
          <i class="fa-solid fa-filter"></i>
          Lọc
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="mb-3">
        <label>Tên khách hàng</label>
        <input [(ngModel)]="ftKhachHang" type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label>Thời gian</label>
        <input [(ngModel)]="ftThoiGian" type="date" class="form-control">
      </div>
      <div class="mb-3">
        <label>Trạng thái</label>
        <select [(ngModel)]="ftKhachHang" class="form-select">
          <option *ngIf="!isUser" value="0,1,2,3,4,5,6,9">Tất cả</option>
          <option *ngIf="!isUser" value="0">Mới</option>
          <option value="1">Đã tiếp nhận</option>
          <option value="2">Đang xử lý</option>
          <option value="3">KNM L1</option>
          <option value="4">KNM L2</option>
          <option value="5">KNM L3</option>
          <option value="6">Thất bại</option>
          <option value="9">Trùng</option>
        </select>
      </div>
      <div class="mb-3">
        <label>Số điện thoại</label>
        <input [(ngModel)]="ftSdt" onlyNumber type="number" class="form-control">
      </div>
      <div class="mb-3">
        <label>Sản phẩm</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label>Nhân viên</label>
        <input [(ngModel)]="ftNhanVien" type="text" class="form-control">
      </div>
    </ion-content>
    <ion-footer mode="md" style="background-color: rgba(0, 110, 185, 0.9)!important;">
      <ion-toolbar class="new-toolbar-background">
        <ion-buttons slot="start">
          <ion-button (click)="openModalFilter(false)" style="--color: white!important">Hủy</ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="getFilter()" [strong]="true">Lọc</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </ion-modal>
  <ion-toast [isOpen]="isToastOpen" [message]="messageToast" [duration]="3000"
    (didDismiss)="setOpen(false)"></ion-toast>
</ion-app>