.search-control::placeholder {
  color: #99c5e3 !important;
}
.card-shop {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
.card-shop-name {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  border-radius: 3px;
  color: white;
  text-transform: uppercase;
}
.sc-ion-alert-md-h {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.15) !important;
}
