<ion-modal [isOpen]="isModalOpen" class="modal-50" (didDismiss)="setOpen(false)" style="--height: 90%">
  <ng-template>
    <ion-header>
      <ion-toolbar mode="md" class="new-toolbar-background">
        <ion-title class="fw-bold">Thông tin đơn hàng</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="mb-3">
        <div>
          <h5 class="fw-bold">{{product}}</h5>
          <div class="text-secondary">ABC123</div>
        </div>
      </div>
      <div class="text-primary mb-1">
        <label>Phí ship</label>
        <input type="text" class="form-control">
      </div>
      <div class="text-primary mb-1">
        <label>Giảm giá</label>
        <input type="text" class="form-control">
      </div>
      <div class="row text-primary mb-1 align-items-end justify-content-between">
        <div class="col-8">
          <label>Loại sản phẩm</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-4">
          <button class="btn btn-primary w-100">Thêm</button>
        </div>
      </div>
      <div class="text-end">
        <button class="btn btn-sm btn-primary fw-bold px-3" (click)="saveInfo()">Lưu</button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>