.btn-number-left {
  border-left: 1px solid #006eb9;
  border-top: 1px solid #006eb9;
  border-bottom: 1px solid #006eb9;
  background: #fff;
  color: #212529;
  width: 20px;
}
.btn-number-right {
  border-right: 1px solid #006eb9;
  border-top: 1px solid #006eb9;
  border-bottom: 1px solid #006eb9;
  background: #fff;
  color: #212529;
  width: 20px;
}
