<ion-app>
  <ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="resetData($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="row">
      <div class="col-6">
        <datepicker-component *ngIf="!isShowMvp" (filterDate)="filterDate($event)"
          [dateRange]="dateRange"></datepicker-component>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <button *ngIf="!isShowMvp" class="btn btn-primary fw-bold d-flex align-items-center text-13px"
          (click)="changeView()">
          MVP Tháng
          <i class="fa-solid fa-arrow-right" style="margin-left: 4px"></i>
        </button>
        <button *ngIf="isShowMvp" class="btn btn-primary fw-bold d-flex align-items-center text-13px"
          (click)="changeView()">
          <i class="fa-solid fa-arrow-left" style="margin-right: 4px"></i>
          Thống kê
        </button>
      </div>
    </div>
    <div *ngIf="!isShowMvp" class="show-statistic">
      <h5 class="fw-bold text-center mt-5 mb-3" style="color: #187CC0">Thống kê hiệu suất Marketing</h5>
      <ion-accordion-group *ngIf="listData && listData.details.length; else elseData">
        <ion-accordion *ngFor="let item of listData.details" mode="md" [value]="item.account" class="mb-2 rounded">
          <ion-item slot="header">
            <ion-icon class="ion-accordion-toggle-icon custom-icon" name="chevron-down-outline" slot="end">
            </ion-icon>
            <ion-label>
              <div class="row align-items-center">
                <div class="col-3">
                  <ion-avatar slot="start" style="width: 50px;height: 50px;">
                    <img alt="Silhouette of a person's head"
                      src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                  </ion-avatar>
                </div>
                <div class="col-9 d-flex justify-content-between">
                  <div>
                    <div class="fw-bold">
                      Tên
                    </div>
                    <p>
                      {{item.fullName}}
                    </p>
                  </div>
                  <div>
                    <div class="fw-bold">
                      Data
                    </div>
                    <p>
                      {{plugins.formatNumber(item.totalData)}}
                    </p>
                  </div>
                </div>
              </div>
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <table class="text-12px mb-3">
              <thead>
                <tr class="w-100 fw-normal">
                  <th class="fw-normal" style="width: 33.33%;">Đơn hàng chốt</th>
                  <th class="fw-normal" style="width: 33.33%;">TLC</th>
                  <th class="fw-normal" style="width: 33.33%;">Chi phí Ads/đơn hàng</th>
                </tr>
              </thead>
              <tbody>
                <tr class="fw-bold">
                  <td>{{plugins.formatNumber(item.totalOrder)}}</td>
                  <td>{{item.tlc}}%</td>
                  <td>{{plugins.formatNumber(item.adsTotalOrder)}}đ</td>
                </tr>
              </tbody>
            </table>
            <table class="text-12px">
              <thead>
                <tr class="w-100">
                  <th class="fw-normal" style="width: 33.33%;">Chi phí Ads/data</th>
                  <th class="fw-normal" style="width: 33.33%;">Chi phí Ads/doanh số</th>
                  <th class="fw-normal" style="width: 33.33%;">Doanh số</th>
                </tr>
              </thead>
              <tbody>
                <tr class="fw-bold">
                  <td>{{plugins.formatNumber(item.adsTotalData)}}đ</td>
                  <td>{{item.adsRevenue}}%</td>
                  <td>{{plugins.formatNumber(item.revenue)}}đ</td>
                </tr>
              </tbody>
            </table>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <ng-template #elseData>
        <div class="text-center position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
          <i class="fa-solid fa-chart-simple text-sub-content mb-3" style="font-size: 100px"></i>
          <h5 class="text-sub-content">Không có dữ liệu!</h5>
        </div>
      </ng-template>
    </div>
    <div *ngIf="isShowMvp" class="show-mvp">
      <h5 class="fw-bold text-center mt-5 mb-3" style="color: #187CC0">MVP Tháng</h5>
      <div *ngIf="listMvp && listMvp.length; else elseMvp">
        <div class="mt-5 d-flex justify-content-center">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="text-24px fw-bold text-primary">
              2
            </div>
            <div class="dot dot_silver text-center">
            </div>
            <ion-avatar slot="start" style="width: 120px;height: 120px;" class="border-silver">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <div class="text-center mt-1">
              <div class="text-13px">
                {{listMvp[1].fullName}}
              </div>
              <p class="text-24px fw-bold">
                {{listMvp[1].count}}
              </p>
            </div>
          </div>
          <div class="mx-2 d-flex flex-column justify-content-center align-items-center"
            style="transform: translateY(-2rem);">
            <div class="text-24px fw-bold text-primary">
              1
            </div>
            <i class="fa-solid fa-crown" style="color: rgb(255, 236, 64); font-size: 30px;"></i>
            <ion-avatar slot="start" style="width: 120px;height: 120px;" class="border-mvp">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <div class="text-center mt-1">
              <div class="text-13px">
                {{listMvp[0].fullName}}
              </div>
              <p class="text-24px fw-bold">
                {{listMvp[0].count}}
              </p>
            </div>
          </div>
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="text-24px fw-bold text-primary">
              3
            </div>
            <div class="dot dot_cu text-center">
            </div>
            <ion-avatar slot="start" style="width: 120px;height: 120px;" class="border-cu">
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <div class="text-center mt-1">
              <div class="text-13px">
                {{listMvp[2].fullName}}
              </div>
              <p class="text-24px fw-bold">
                {{listMvp[2].count}}
              </p>
            </div>
          </div>
        </div>
        <div *ngFor="let item of listMvp; index as i">
          <ion-card *ngIf="i >=3">
            <ion-card-content>
              <div class="row align-items-center text-12px">
                <div class="col-2 text-primary text-20px fw-bold text-center pr-0">
                  {{i + 1}}
                </div>
                <div class="col-2 " style="padding-left: 0">
                  <ion-avatar slot="start" style="width: 50px;height: 50px;">
                    <img alt="Silhouette of a person's head"
                      src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                  </ion-avatar>
                </div>
                <div class="col-6">
                  <div class="fw-bold">
                    Tên
                  </div>
                  <p class="line-clamp-1">
                    {{item.fullName}}
                  </p>
                </div>
                <div class="col-2">
                  <div class="fw-bold text-center">
                    Data
                  </div>
                  <p class="text-center">
                    {{plugins.formatNumber(item.count)}}
                  </p>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
      <ng-template #elseMvp>
        <div class="text-center position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
          <i class="fa-solid fa-chart-simple text-sub-content mb-3" style="font-size: 100px"></i>
          <h5 class="text-sub-content">Không có dữ liệu!</h5>
        </div>
      </ng-template>
    </div>
  </ion-content>
  <ion-footer [translucent]="true" *ngIf="info.role ==='admin'">
    <ion-toolbar mode="md" class="footer-container">
      <ion-segment class="w-100" color="dark" value="utm">
        <ion-segment-button value="utm" routerLink="/utm-statistic"
          style="border: none;font-size: 10px;background: #035287; width: 33.33%;">
          <ion-label text-wrap class="fw-bold text-white">Thông kê hiệu suất
            marketing</ion-label>
        </ion-segment-button>
        <ion-segment-button value="revenue" routerLink="/statiscal-revenue" style="font-size: 10px;width: 33.33%;">
          <ion-label text-wrap class="fw-bold">Thống kê doanh thu</ion-label>
        </ion-segment-button>
        <ion-segment-button value="cost" routerLink="/statiscal-cost" style="width: 33.33%;font-size: 10px;">
          <ion-label text-wrap class="fw-bold">Thống kê chi phí</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>
</ion-app>