<ion-app>
  <ion-content class="ion-padding">
    <ion-refresher slot="fixed" (ionRefresh)="loadData()">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
       
    <div class="mb-3 d-flex align-items-center">
      <button class="btn btn-sm" style="background-color: #46C851;">
       <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
      </button>
      <button class="btn btn-primary col-3" style="font-size:13px; padding: 5px 0px ;margin-left:6px" (click)="refreshData()">
        <i class="fa fa-refresh"></i>
        Làm mới
      </button>
      <datepicker-component (filterDate)="filterDate($event)"></datepicker-component>
    </div>
    <div *ngIf="listData && listData.length; else elseBlock" class="position-relative">
      <div class="position-relative"
        *ngFor=" let item of listData | paginate : { itemsPerPage: 10, currentPage: page, totalItems }">
        <ion-card [class]="selectedItem && selectedItem.id === item.id ? 'card-active' : ''"
          (click)="isBackHeader ? selectItem(item) : editInfoPhieuNhap(item)">
        <ion-card-content>
            <div class="row fw-bold d-flex align-items-start" style="margin-bottom:10px">
              <div class="col-8">
                <div class="row d-flex flex-column" style="text-align: start; font-size: 9px;">
                  <div>ID: {{item.id}}</div>
                  <div>{{item.creatorName}}</div>
                  <div>Kho: {{item.warehouseName}} | Nhà cung cấp: {{item.supplierInfo}}</div>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center ">
              <div class="col-5" style="margin-right: 3px">
                <button type="button" class="btn btn-sm fw-bold w-100" style="font-size:10px"
                    [ngClass]="{'btn-success': item.status == '3', 'btn-danger text-white': item.status == '10', 'btn-warning': item.status == '2', 'btn-primary': item.status == '1','btn-info': item.status == '0'}">
                    {{convertStatus(item.status)}}
                  </button>
              </div>
                <div class="col-5 text-end">
                  <span style="font-size:10px; margin-right:6px ;color:#2E2D2D">{{item.createAt}}</span>
                </div>
          </div>
        </ion-card-content>  
        </ion-card>
      </div>
    </div>
    <ng-template #elseBlock>
      <div class="text-center position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%)">
        <i class="fa-solid fa-users-slash text-sub-content mb-3" style="font-size: 100px"></i>
        <h5 class="text-sub-content">Không có dữ liệu!</h5>
      </div>
    </ng-template>
    <pagination-controls *ngIf="listData && listData.length" previousLabel="" nextLabel=""
      (pageChange)="changePagination($event)"></pagination-controls>
  </ion-content>
  <ion-footer [translucent]="true">
    <ion-toolbar mode="md" class="footer-container">
      <ion-segment color="dark" value="account">
        <ion-segment-button value="notF" routerLink="/notF">
          <ion-label class="fw-bold" style="font-size: 8px">Xuất hàng</ion-label>
        </ion-segment-button>
        <ion-segment-button value="notF" routerLink="/notF" >
          <ion-label class="fw-bold " style="font-size: 8px">Hàng lỗi</ion-label>
        </ion-segment-button>
        <ion-segment-button value="lich-su-nhap-xuat" routerLink="/kho/lich-su-nhap-xuat" style="background: #035287">
          <ion-label class="fw-bold text-white" style="font-size: 8px">Lịch sử xuất nhập</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>
  <ion-toast [isOpen]="isToastOpen" [message]="messageToast" [duration]="3000"></ion-toast>
  
</ion-app>