<ion-app>
  <ion-content class="ion-padding">
    <div>
      <button class="btn" style="background-color: #46C851; margin-right: 3px;">
        <i class="fa-solid fa-plus" style="color: #ffffff;"></i>
      </button>
      <button class="btn btn-danger">
        <i class="fa-solid fa-trash-can" style="color: #ffffff;"></i>
        Xóa
      </button>
    </div>
    <div>
      <ion-card *ngFor="let entity of listEntity, index as i" color="dark">
        <ion-card-content>
          <div class="d-flex align-items-center mb-3">
            <div class="col-3" style="margin-right: 6px">
              <button *ngIf="entity.role === roleUser.ADMIN" type="button"
                class="btn btn-sm btn-primary fw-bold">Admin</button>
              <button *ngIf="entity.role === roleUser.USER" type="button"
                class="btn btn-sm btn-warning text-white fw-bold">User</button>
              <button *ngIf="entity.role === roleUser.MARKETING" type="button"
                class="btn btn-sm btn-secondary fw-bold">Marketing</button>
            </div>
            <div class="col-10">
              <div class="line-clamp-1" title="">{{entity.fullName}} - {{entity.phone}}</div>
            </div>
          </div>
          <div>
            <div class="row fw-bold">
              <div class="col-4">Tài khoản</div>
              <div class="col-4">Email</div>
              <div class="col-4">Địa chỉ</div>
            </div>
            <div class="row">
              <div class="col-4 line-clamp-1" title="">{{ entity.userName }}</div>
              <div class="col-4 line-clamp-1" title="">{{ entity.email }}</div>
              <div class="col-4 line-clamp-1" title="">{{ entity.address }}</div>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</ion-app>