<ion-header>
  <ion-toolbar mode="md" class="new-toolbar-background">
    <ion-buttons slot="start">
      <button class="bg-content rounded-circle" (click)="cancel()">
        <i class="fa-solid fa-arrow-left" style=" padding: 8px 8px;font-size:20px;margin-right: 6px;color: #2c5fb6"></i>
      </button>
    </ion-buttons>
    <ion-title class="text-14px fw-bold">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveInfo(data.status)" [strong]="true">Lưu</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="!isShowTracking" class="show-statistic">
    <div class="mb-3">
      <h5 class="text-secondary fw-bold">Đơn hàng của:</h5>
      <h5 class="fw-bold">
        {{name}}
      </h5>
    </div>
    <div>
      <div *ngIf="type !== 'after-order'" class="position-relative w-50 mb-3">
        <select [(ngModel)]="statusOrder" class="form-control" (change)="saveInfo(statusOrder)">
          <option [value]="2">Đang xử lý</option>
          <option [value]="3">KNM L1</option>
          <option [value]="4">KNM L2</option>
          <option [value]="5">KNM L3</option>
          <option [value]="6">Thất bại</option>
          <option [value]="7">Thành công</option>
          <option [value]="9">Trùng</option>
        </select>
        <i class="fa-solid fa-chevron-down position-absolute arrow-input"></i>
      </div>
      <div *ngIf="type === 'after-order'">
        <button *ngIf="status === 7" class="btn btn-sm btn-success text-13px fw-bold">Thành công</button>
        <button *ngIf="status === 8" class="btn btn-sm btn-blue text-13px fw-bold">Đã in đơn</button>
        <button *ngIf="status === 10" class="btn btn-sm btn-orange text-13px fw-bold"
          style="background: #CBE4D5;color: #5F7161;">Đã chuyển kho
          giao</button>
        <button *ngIf="status === 11" class="btn btn-sm btn-danger text-white text-13px fw-bold">Đơn gửi
          giao hàng lỗi</button>
        <button *ngIf="status === 12" class="btn btn-sm btn-warning text-white text-13px fw-bold"
          style="background: #7DAEED;color: #04408D;">Đã giao
          hàng</button>
        <button *ngIf="status === 13" class="btn btn-sm btn-warning text-white text-13px fw-bold"
          style="background: #C4D6A0;color: #7F8C64;">Đang giao
          hàng</button>
        <button *ngIf="status === 14" class="btn btn-sm btn-danger text-13px fw-bold"
          style="background: #EE91AC;color: #FF2363;">Hoãn giao hàng</button>
        <button *ngIf="status === 15" class="btn btn-sm btn-gray text-13px fw-bold"
          style="background: #D1E9DC;color: #6C9379;">Đã đối soát</button>
        <button *ngIf="status === 16" class="btn btn-sm btn-gray text-13px fw-bold"
          style="background: #B8CFC7;color: #367D65;">Xác nhận hoàn</button>
        <button *ngIf="status === 17" class="btn btn-sm btn-gray text-13px fw-bold"
          style="background: #CACCDB;color: #5C6290;">Hoãn hàng trả</button>
        <button *ngIf="status === 18" class="btn btn-sm btn-gray text-13px fw-bold"
          style="background: #7FBDAD;color: #33675A;">Đang chuyển kho
          trả</button>
        <button *ngIf="status === 19" class="btn btn-sm btn-gray text-13px fw-bold"
          style="background: #F1D8F6;color: #B15CC1;">Đã trả hàng toàn
          bộ</button>
        <button *ngIf="status === 20" class="btn btn-sm btn-danger text-13px fw-bold">Hủy đơn</button>
      </div>
      <thong-tin-khach-hang [name]="name" [phone]="phone" (editValue)="handleEditInfo($event)" />
      <thong-tin-dia-chi [street]="street" [ward]="ward" [province]="province" [district]="district"
        (editValue)="handleEditAddress($event)"></thong-tin-dia-chi>
      <ion-card class="mb-3">
        <ion-card-content>
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center">
              <div class="dot-green" style="margin-right: 6px;"></div>
              <div class="fw-bold text-16px">
                Thông tin sản phẩm
              </div>
            </div>
          </div>
          <div class="text-12px text-secondary">
            <div class="mb-1">
              <i class="fa-solid fa-box"></i>
              <span class="mx-1">Sản phẩm:</span>
              <span>{{product}}</span>
            </div>
          </div>
        </ion-card-content>
      </ion-card>
      <thong-tin-ghi-chu [note]="note" (editValue)="handleEditNote($event)"></thong-tin-ghi-chu>
      <thong-tin-don-hang [cogs]="cogs" [price]="price" [products]="listProduct" [productName]="product" [date]="date"
        [shopCode]="shopCode" [status]="status" (editValue)="handleEditOrder($event)"></thong-tin-don-hang>
    </div>
  </div>
  <div *ngIf="isShowTracking" class="show-mvp p-3">
    <h5 class="mb-1 fw-bold">Mã vận đơn</h5>
    <div class="mb-4">
      {{shippingCode}}
    </div>
    <div *ngIf="listTracking && listTracking.length; else elseTracking" style="margin-left: 10px">
      <div class="position-relative border-tracking" [class]="i === 0 ? 'dot-tracking-start' : 'dot-tracking'"
        *ngFor="let tracking of listTracking;index as i"
        style="padding-left: 20px; padding-bottom: 20px; padding-top: 0">
        <div class="text-16px mb-2 fw-bold" [class]="i === 0 ? 'text-success' : ''">
          {{tracking.status}}
        </div>
        <div class="mb-2 text-13px">
          <i class="fa fa-clock"></i>
          {{tracking.time}}
        </div>
        <div class="mb-2 text-13px">
          <i class="fa-solid fa-truck"></i>
          {{tracking.note}}
        </div>
      </div>
    </div>
    <ng-template #elseTracking>
      <div class="text-center position-absolute" style="top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <i class="fa-solid fa-truck text-sub-content mb-3" style="font-size: 100px"></i>
        <h5 class="text-sub-content">Không có dữ liệu!</h5>
      </div>
    </ng-template>
  </div>
  <ion-toast [isOpen]="isToastOpen" [message]="messageToast" [duration]="3000"
    (didDismiss)="setOpen(false)"></ion-toast>
</ion-content>
<ion-footer *ngIf="type === 'after-order'" [translucent]="true">
  <ion-toolbar mode="md" class="footer-container">
    <ion-segment color="dark" value="order">
      <ion-segment-button value="order" style="font-size: 10px;" (click)="setShowTracking(false)">
        <ion-label text-wrap class="fw-bold">Đơn hàng</ion-label>
      </ion-segment-button>
      <ion-segment-button value="data" style="font-size: 10px" (click)="setShowTracking(true)">
        <ion-label text-wrap class="fw-bold">Tracking đơn hàng</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>