<ion-header>
  <ion-toolbar mode="md" class="new-toolbar-background">
    <ion-buttons slot="start">
      <button class="bg-content rounded-circle" (click)="cancel()">
        <i class="fa-solid fa-arrow-left" style=" padding: 8px 8px;font-size:20px;margin-right: 6px;color: #2c5fb6"></i>
      </button>
    </ion-buttons>
    <ion-title class="text-14px fw-bold">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveInfo()" [strong]="true">Lưu</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="text-primary ">
    <h6 class="fw-bold" style="color:#2E2D2D;margin:10px 30px">Thêm kho</h6>
    <div   class="position-relative">
      <div  class="position-relative">
        <ion-card>
          <ion-card-header style="padding-bottom: 7px">
             <ion-card-title class="fw-bold" style="font-size: 15px; color: #006EB9">
               <span class="dot"></span>
                Thông tin kho
             </ion-card-title>
             <div class="row fw-bold">
              <button type="button" >
                 <div class="col-4 ion-float-end">
                <i class="gg-pen"></i>
                </div>
              </button>
            </div>
          </ion-card-header>
          <ion-card-content>
            <div class="row ">
               <div class="col-6 d-flex align-items-center" style="font-size:10px">Tên kho:
                 <ng-container *ngIf="type === 'edit'">{{ name }}</ng-container>
                 
               </div>
            </div>
            <div class="row ">
               <div class="col-6 d-flex align-items-center" style="font-size:10px">Địa chỉ:
                 <ng-container *ngIf="type === 'edit'">{{ address }}</ng-container>
                 
               </div>
            </div>
            <div class="row ">
               <div class="col-6 d-flex align-items-center" style="font-size:10px">Số điện thoại:
                 <ng-container *ngIf="type === 'edit'">{{phone}}</ng-container>
                 
               </div>
            </div>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header style="padding-bottom: 7px">
             <ion-card-title class="fw-bold" style="font-size: 15px; color: #006EB9">
               <span class="dot"></span>
                Sản phẩm kho
             </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="row ">
               <div class="col-6 d-flex align-items-center" style="font-size:10px">Tổng hàng nhập:
                 <ng-container>{{localData ? localData.totalImportProduct : 0}}</ng-container>
               </div>
            </div>
            <div class="row ">
               <div class="col-6 d-flex align-items-center" style="font-size:10px">Tổng còn trong kho:
                 <ng-container>{{localData ?  localData.totalInventoryQuantity : 0}}</ng-container>
                 
               </div>
            </div>
            <div class="row ">
               <div class="col-6 d-flex align-items-center" style="font-size:10px">Tổng đang về:
                 <ng-container>{{localData ? localData.totalAwaitingProduct : 0}}</ng-container>
                 
               </div>
            </div>
            <div class="row ">
              <div class="col-6 d-flex align-items-center" style="font-size:10px">Tổng tiền hàng:
                <ng-container>{{localData ? localData.price : 0}}</ng-container>
                
             </div>
            </div>

          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header style="padding-bottom: 7px">
             <ion-card-title class="fw-bold" style="font-size: 15px; color: #006EB9">
               <span class="dot"></span>
                Nhân viên
             </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="row fw-bold">
              <div class="col-4" style="font-size:10px">tên nhân viên</div>
            </div>
          </ion-card-content>
        </ion-card>
    </div>
  </div>
</div>
</ion-content>



