<div class="dropdown" style="margin-left: 4px;">
  <input type="text" class="dropdown-toggle form-control" data-bs-toggle="dropdown" aria-expanded="false" readonly>
  <ul class="dropdown-menu">
    <li class="dropdown-item">
      Hôm nay
    </li>
    <li class="dropdown-item">
      Hôm qua
    </li>
    <li class="dropdown-item">
      7 Ngày qua
    </li>
    <li class="dropdown-item">
      30 Ngày qua
    </li>
    <li class="dropdown-item">
      Tháng này
    </li>
    <li class="dropdown-item">
      Tháng trước
    </li>
    <li class="dropdown-item">
      3 Tháng trước
    </li>
    <li class="dropdown-item">
      Tùy chọn
    </li>
  </ul>
</div>