.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #47AC4F;
  margin-right: 5px;
}
.button-group {
  display: flex;
  gap: 1px;
  margin: 0 5px;
  
 
}

.button-group button {
  flex-grow: 1;
  padding: 6px;
  font-size: 10px;
  background-color: #187CC0;
  border-radius: 3px;
  margin: 0px 2px;
  color: #fff;
}
.button-role{
  padding:6px;
  font-size:10px;
   margin-right:30px ;
   background-color: #187CC0;
   border-radius: 3px;
   color: #fff;
}







