<ion-header>
  <ion-toolbar mode="md" class="new-toolbar-background">
    <ion-buttons slot="start">
      <button class="bg-content rounded-circle" (click)="cancel()">
        <i class="fa-solid fa-arrow-left" style=" padding: 8px 8px;font-size:20px;margin-right: 6px;color: #2c5fb6"></i>
      </button>
    </ion-buttons>
    <ion-title class="text-14px fw-bold">{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveInfo()" [strong]="true">Lưu</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div class="form-floating mb-3">
    <input type="text" [(ngModel)]="code" class="form-control" id="idShop" [disabled]="type === 'edit'">
    <label for="idShop">
      Mã cửa hàng
      <label class="text-danger">*</label>
    </label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" [(ngModel)]="name" class="form-control" id="shopname">
    <label for="shopname">Tên cửa hàng <label class="text-danger">*</label></label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" [(ngModel)]="url" class="form-control" id="url">
    <label for="url">URL</label>
  </div>
  <div class="form-floating mb-3">
    <input type="text" [(ngModel)]="note" class="form-control" id="note">
    <label for="note">Ghi chú</label>
  </div>
  <div class="form-floating">
    <select class="form-select" [(ngModel)]="status" id="floatingSelect">
      <option [value]="1">Hoạt động</option>
      <option [value]="0">Khóa</option>
    </select>
    <label for="floatingSelect">Trạng thái <label class="text-danger">*</label></label>
  </div>
  <ion-toast [isOpen]="isToastOpen" [message]="messageToast" [duration]="3000"
    (didDismiss)="setOpen(false)"></ion-toast>
</ion-content>