<ion-card class="mb-3">
  <ion-card-content>
    <div class="d-flex align-items-center justify-content-between mb-3">
      <div class="d-flex align-items-center">
        <div class="dot-green" style="margin-right: 6px;"></div>
        <div class="fw-bold text-16px">
          Thông tin địa chỉ
        </div>
      </div>
      <div class="text-primary" *ngIf="!disableEdit">
        <i class="fa fa-pen" (click)="setOpen(true)"></i>
      </div>
    </div>
    <div class="text-12px text-secondary">
      <div class="mb-1">
        <i class="fa-solid fa-location-dot"></i>
        <span class="mx-1">T/H/X:</span>
        <span>{{this.province}}{{this.district ? ',' : ''}} {{this.district}}{{this.ward ? ',' : ''}}
          {{this.ward}}</span>
      </div>
      <div>
        <i class="fa-solid fa-location-dot"></i>
        <span class="mx-1">Địa chỉ:</span>
        <span>{{this.street}}</span>
      </div>
    </div>
  </ion-card-content>
</ion-card>
<ion-modal [isOpen]="isModalOpen" class="modal-50" style="--height: 60%!important" (didDismiss)="setOpen(false)">
  <ng-template>
    <ion-header>
      <ion-toolbar mode="md" class="new-toolbar-background">
        <ion-title class="fw-bold">Thông tin địa chỉ</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <div class="mb-3">
        <label class="text-primary">Tỉnh/Thành phố<span class="text-danger">*</span> </label>
        <select [(ngModel)]="provinceId" class="form-select" (change)="changeProvince($event)">
          <option value=""></option>
          <option *ngFor="let item of listProvince" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="text-primary">Quận/Huyện/Thị xã</label>
        <select [(ngModel)]="districtId" class="form-select" (change)="changeDistrict($event)">
          <option value=""></option>
          <option *ngFor="let item of listDistrict" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="text-primary">Xã/Phường/Thị trấn</label>
        <select [(ngModel)]="wardId" class="form-select" (change)="changeWard($event)">
          <option value=""></option>
          <option *ngFor="let item of listWard" [value]="item.id">{{item.name}}</option>
        </select>
      </div>
      <div class="mb-3">
        <label class="text-primary">Địa chỉ</label>
        <input type="text" [(ngModel)]="streetName" class="form-control" placeholder="Địa chỉ">
      </div>
      <div class="text-end">
        <button class="btn btn-sm btn-primary fw-bold px-3" (click)="saveInfo()">Lưu</button>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>